body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}

.suggest-dropdown {
  padding-left: 28%;
}

.search-bar {
  justify-content: center;
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.btn-stat {
  border: 1px solid #ddd;
  margin-right: 8px;
}

.main-container {
  padding-left: 5%;
}

.filter-text {
  font-size: 13px;
}

.no-margin {
  margin-left: 0px;
  padding-left: 0px;
}

.graph {
  margin-top: 2%;
  height: 40vh;
}

.slider-menu {
  margin-top: 5px;
}

.param-header {
  color: #808080;
  font-size: 15px;
  margin-bottom: 0.25rem;
}