/* @media (min-width: 576px) { 
  .container, .container-sm {
    max-width: 676px;
  }
}

@media (min-width: 768px) {  
  .container, .container-md {
    max-width: 880px;
  } 
}

@media (min-width: 992px) { 
  .container, .container-lg {
    max-width: 1090px;
  } 
}

@media (min-width: 1200px) { 
  .container, .container-xl {
    max-width: 1300px;
  } 
} */
html,body
{
  width: 100%;
  height: 100%;
  padding: 0px;
  overflow-x: hidden; 
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  /* font-family: 'Roboto Mono', monospace; */
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
  color: white;
  margin: 0;
}

.App-header {
  padding: 1% 5%;
}

.container {
  /* max-width: 2000px;  */
  margin-left: 5%;
}

.content-section {
  font-size: 16px;
  text-align: center;
  padding-left: 8%;
}

.content-header {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 2rem;
}

.filter-description {
  font-size: 13px;
  max-width: 95%;
  padding-top: 2%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row {
  flex-wrap: nowrap;
  margin-right: 0px;
  margin-left: 0px;
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline;
  line-height: 2.8rem;
}

li a {
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 8px;
  text-decoration: none;
}

li a:not(.active):hover {
  color: lightgray;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

.active {
  color: white;
  font-weight: bold;
}

.siteTitle {
  font-size: 1.8rem;
}

.customLink {
  color: #4ddaba;
  font-weight: bold;
}
.customLink:hover {
  color: #4ddaba;
  font-weight: bold;
}

.tick {
  font-family: 'PT Sans', sans-serif;
}

.nav-subtitle {
  padding-left: 0px;
}

.nav-menu {
  text-align: right;
  padding-right: 3%;
}

.titleNarrow {
  font-family: 'PT Sans Narrow', sans-serif;
}

.title-active {
  font-weight: bold;
  background-color: #e9ecef;
  border: 1px dashed #4ddaba;
  margin-left: 10%;
  margin-right: 10%;
}

.callout {
  /* font-family: 'Roboto Mono', monospace; */
  /* font-family: 'Space Mono', monospace; */
  font-family: 'Cousine', monospace;
  /* font-family: 'Fira Mono', monospace; */
  /* font-family: 'Anonymous Pro', monospace; */
  padding-left: 0px;
}

ul {
  list-style-type: none;
}

.filters {
  padding-top: 1rem;
  margin-left: 1.4rem;
}

.dropdown {
  padding: 1rem 0;
}

.dropdown-menu {
  width: 60%;
  margin: 0px;
}

.dropdown-toggle::after {
  content: none;
}

.search-bar {
  font-size: 1.2rem;
  color: gray;
  width: 100%;
  text-align: left;
  border-color: rgba(0, 0, 0, 0.12);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  padding-left: 0.8rem;
  padding-bottom: .3rem;
  padding-top: .3rem;
}

.magnifying-glass {
  fill: currentColor;
  width: 1em;
  height: 1em;
  margin-right: 2%;
  display: inline-block;
  font-size: 1.5rem;
  -moz-user-select: none;
}

.btn-stat {
  border: 1px solid #ddd;
  margin-right: 8px;
  padding: 0.3rem 0.5rem;
}

.btn-active {
  background-color: #e9ecef;
}

.btn-active:hover {
  background-color: #e9ecef;
}

.scenario-title {
  text-align: center;
  margin-bottom: 0px;
  font-size: 1.4rem;
}

.scenario-header {
  margin-bottom: -0.5rem;
}

.conf-bounds {
  margin-top: 16px;
  padding-left: 12px;
}

.subtitle {
  font-size: 14px;
  font-style: italic;
  color: gray;
}

.filter-label {
  font-size: 12px;
  margin-bottom: 0px;
  margin-top: 3px;
}

.threshold-label {
  text-align: center;
  padding: 0px 40px;
}

.bold {
  font-weight: bold;
}

.underline {
  border-bottom: 2px #4ddaba dotted;
}

.underline-active {
  font-weight: bold;
  color: #4ddaba;
  border-bottom: 2px #4ddaba dotted;
}

/* .dynamic-label {
  font-weight: bold;
  padding-left: 3px;
  padding-right: 3px;
  background-color: #e9ecef;
} */

.legend-container {
  height: 9vh;
}

.legend {
  font-size: 13px;
  text-align: left;
  margin-bottom: 0px;
  margin-right: 10px;
}

.slidecontainer {
  width: 85%;
  max-width: 260px;
}

.slider-label-row {
  display: flex;
  justify-content: space-between;
}

.slider-max {
  text-align: end;
}

.slider-label {
  margin-top: -6%;
}

.graph {
  /* margin-top: 2%; */
  height: 53vh;
  margin-bottom: 10rem;
}

.map-container {
  text-align: center;
  /* padding: 2rem; */
  /* border: 1px solid red; */
}

.map-wrapper {
  display: flex;
  flex-flow: wrap;
}

.map {
  /* border: 1px solid blue; */
  margin: 5px;
  padding: 5px;
}

.map-title {
  /* width: 80px; */
  padding: 0 0 15px 5px;
  text-align: left;
}

.map-summary-title {
  font-size: 1.2rem;
}

.slider-menu {
  margin: 10px 0 20px 0;
}

.param-header {
  color: #808080;
  font-size: 14px;
  margin-top: 0.8rem;
  margin-bottom: 0.25rem;
}

.graph-wrapper {
  position: relative;
}

.graph-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.graph-title-row {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.callout-row {
  min-height: 41px;
}

.resetRow {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.graph-yLabel {
  position: absolute;
  bottom: 0;
  left: 0;
  /* margin-left: -5px; */
  margin-bottom: 15%;
}

.y-axis-label {
  font-size: 1rem;
  pointer-events: none;
  /* font-weight: bold; */
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}

.chart-yLabel {
  position: absolute;
  margin-top: 10%;
}

input[type=range] {
  height: 25px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  margin-bottom: 0px;
  margin-top: 0px;
  background-color: #f0f2f5;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  /* background: #95B1C9; */
  /* background: #c5d6e4; */
  background: #d2d2d2;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  /* border: 1px solid #2497E3; */
  border: 1px solid #ffffff;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  /* background: #A1D0FF; */
  background: #3885fa;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  /* background: #95B1C9; */
  /* background: #c5d6e4; */
  background: #d2d2d2;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  /* background: #95B1C9; */
  /* background: #c5d6e4; */
  background: #d2d2d2;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  /* box-shadow: 0px 0px 0px #000000; */
  /* border: 1px solid #2497E3; */
  border: 1px solid #ffffff;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  /* background: #A1D0FF; */
  background: #3885fa;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  /* background: #95B1C9; */
  /* background: #c5d6e4; */
  background: #d2d2d2;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  /* background: #95B1C9; */
  /* background: #c5d6e4; */
  background: #d2d2d2;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  /* border: 1px solid #2497E3; */
  border: 1px solid #ffffff;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  /* background: #A1D0FF; */
  background: #3885fa;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  /* background: #95B1C9; */
  /* background: #c5d6e4; */
  background: #d2d2d2;
}
input[type=range]:focus::-ms-fill-upper {
  /* background: #95B1C9; */
  /* background: #c5background: #d2d2d2;d6e4; */
  background: #d2d2d2;
}
input[type=range]::-moz-focus-outer {
  border: 0;
}

.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
  z-index: 0;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  opacity: 0.7;
  left: 200%;
  bottom: 100%;
  margin-left: -60px;
  padding-left: 50%;
  font-size: 12px;
  pointer-events: none;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.chart-container {
  margin-top: 10rem;
  border: 1px solid red;
}

.chart {
  /* border: 1px solid blue; */
} 

.chart-callout {
  display: block !important;
  min-height: 70px;
  padding: 10px 0;
}

.chart-legend-container {
  display: flex;
  justify-content: flex-end;
}

.chart-legend-boxplot {
  width: 140px;
  margin-left: 30px;
  display: flex;
}

.chart-legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 80px;
}

.chart-legend-box {
  width: '12px';
  height: '12px';
}

.chart-item {
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-size: 0.8rem;
}

.date-picker {
  max-width: 7rem;
  border-radius: 4px;
  box-shadow: inset 0 2px 2px #e9e9e9;
  border: 1px solid #aeaeae;
  line-height: 14px;
  padding: 6px 10px 5px;
  margin: 4px 0;
}

.date-label {
  color: #808080;
  font-size: 14px;
  margin-top: 0.6rem;
  width: 3rem;
}

.selector-box {
  min-width: 200px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.section-spacer {
  margin-bottom: 10vh;
}

/* CSS overides from libraries */
.selection {
  stroke-opacity: 0;
}

.ant-slider-mark-text {
  min-width: 50px;
}

.ant-slider-rail {
  background-color: #d2d2d2;
  height: 5px;
}

.ant-slider-track {
  /* background-color: #3885fa; */
  background-color: #69a5ff;
}

.ant-slider-dot {
  background-color: none;
  border: none;
  width: 5px;
  height: 5px;
  z-index: -1;
  top: 0px;
}

.ant-slider-dot-active {

}

.ant-slider-handle {
  width: 18px;
  height: 18px;
  margin-top: -7px;
  background-color: #3885fa;
  border: solid 1px #fff;
}

.ant-slider:hover .ant-slider-handle:not{
  border-color: rgba(0, 0, 0, 0.0)
}

.ant-slider-handle-dragging {
  -webkit-box-shadow: 0 0 0 5px rgba(0,0,0,0);
  box-shadow: 0 0 0 5px rgba(0,0,0,0);
}

.antd-slider:hover {
  background-color: #3885fa;
}